﻿<body ng-app="app-flights">
  <h1> Flights </h1>
  <div ng-controller="AirportsController">
    <table ng-repeat="flight in Flights" border="1">
      <tr>{{Flights.ID}}</tr>
      <tr>{{Flights.Price}}</tr>
      <tr>{{Flights.RegSeats}}</tr>
      <tr>{{Flights.FCSeats}}</tr>
      <tr>{{Flights.Location}}</tr>
      <tr>{{Flights.Destination}}</tr>
    </table>
  </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script>
  var app = angular.module("app-flights", []);
  app.controller("AirportsController", function ($scope, $http) {
    $http.get('http://localhost:37368/api/api/getall').
      success(function (data, status, headers, config) {
        $scope.flights = data;
      }).
      error(function (data, status, headers, config) {
        alert("Error!");
      });
  });
</script>