﻿<div class='panel panel-primary'>
  <div class='panel-heading'>
    Flight Search
  </div>

  <!-- search goes here-->
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-2'>Search:</div>
      <div class='col-md-4'>
        <input type='text' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h3>Searching: </h3>
      </div>
    </div>
  </div>

  <!-- table here -->
  <div class='table-responive'>
    <table class='table'>
      <thead>
        <tr>
          <th>
            <button class='btn btn-primary'>
              Show Details
            </button>
          </th>
          <th>ID</th>
          <th>Seat</th>
          <th>Location</th>
          <th>Destination</th>
          <th>Price</th>
        </tr>
      </thead>
    </table>
    <div>

    </div>
  </div>
</div>