@model YouFly.Models.Airport

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Airport</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Country" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IATA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IATA" class="form-control" />
                <span asp-validation-for="IATA" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ICAO" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ICAO" class="form-control" />
                <span asp-validation-for="ICAO" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Latitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Longtitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Longtitude" class="form-control" />
                <span asp-validation-for="Longtitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Altitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Altitude" class="form-control" />
                <span asp-validation-for="Altitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UTC" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UTC" class="form-control" />
                <span asp-validation-for="UTC" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DST" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DST" class="form-control" />
                <span asp-validation-for="DST" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TimeZone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TimeZone" class="form-control" />
                <span asp-validation-for="TimeZone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Source" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
