@model YouFly.Models.Airport

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Airport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IATA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IATA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ICAO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ICAO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longtitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longtitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UTC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UTC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeZone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeZone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
