@model YouFly.Models.AirportIATAViewModel

@{
    ViewData["Title"] = "Airport";
}

<h2>Airports</h2>
<form asp-controller="Airports" asp-action="Index" method="get">
    <p>
        IATA
        <select asp-for="airportIATA" asp-items="Model.iata">
            <option value="">All</option>
        </select>

            Airports: <input type="text" name="SearchName">
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table table-bordered"  cellpadding="10" align="center"> 
    <thead >
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.airports[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.airports[0].City)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.airports[0].Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.airports[0].IATA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.airports[0].ICAO)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.airports) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IATA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ICAO)
            </td>
        </tr>
}
    </tbody>
</table>
