﻿@model IEnumerable<YouFly.Models.Flights>

@{
    ViewData["Title"] = "Index";
}

<h2>Flights</h2>

<table class="table table-bordered " cellpadding="10">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.From.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From.City + ", " + model.From.Country);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination.City + ", " + model.Destination.Country);
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From.City + ", " + item.From.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination.City + ", " +item.Destination.Country)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="">Edit</a> |
                    <a asp-action="Details" asp-route-id="">Details</a> |
                    <a asp-action="Delete" asp-route-id="">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
