﻿@model YouFly.Models.Route

@{
    ViewData["Title"] = "Create";
}

<h2>Route</h2>
<div>
    <form asp-action="Create">
        <div class="form-group">
            <label for="exampleSelect1">From</label>
            @Html.DropDownList("IATAF", new List<SelectListItem>(ViewBag.IATA))

        </div>
        <div class="form-group">
            <label for="exampleSelect1">To</label>
            @Html.DropDownList("IATAT", new List<SelectListItem>(ViewBag.IATA))
        </div>
        <div>
            <label>Date</label>
            @Html.TextBoxFor(model => model.Date, new { type = "date" })
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Flight Time</label>
            <input type="time" asp-for="FlightTime" class="form-control" id="timeInput" placeholder="Flight Time">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Distance</label>
            <input type="number" asp-for="Distance" class="form-control" id="disInpute" placeholder="Distance">
        </div>
        <div class="form-group">
            <label for="FCInput">First Class Seats</label>
            <input type="number" asp-for="FCSeats" atclass="form-control" id="FCInput" placeholder="0">
            </div>
        <div>
            <label for="RegSeatInput">Regular Seats</label>
            <input type="number" asp-for="RegSeats" class="form-control" id="RegSeatInput" placeholder="0">

        </div>
        <div class="form-group">
            <label for="">Price FC</label>
            <input type="number" asp-for="PriceFC" class="form-control" id="PriceFC" placeholder="Cost $">
        </div>

        <div class="form-group">
        <label for="">Price Reg</label>
        <input type="number" asp-for="Price" class="form-control" id="Price" placeholder="Cost $">
</div>


<input type="submit" class="btn btn-primary" value="submit">
        </form>
</div>
