﻿@model IEnumerable<YouFly.Models.Flights>

@{
    ViewData["Title"] = "User Account";
}

<h2>User Accounts</h2>

<table class="table table-bordered " cellpadding="10">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                FirstClass Price    
            </th>
            <th>
                First Class Seats
            </th>
            <th>
                Regular Seats
            </th>
            <th>
                Departure Airport
            </th>
            <th>
               Destination Airport
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceFC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalFC)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSeat)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
            </tr>
        }
    </tbody>
</table>
