﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">You Fly</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to YouFly</h2>
        <p>
            YouFly Airline
        </p>
    </div>
    <div class="col-md-4">
        <h2>Customer Support</h2>
        <p></p>
        <p><a class="btn btn-default">Im just a button &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bitbucket</h2>
        <p>Click the button below to go to the project</p>
        <p><a class="btn btn-default" href="https://bitbucket.org/selucmps383/sp17-final-g6">Bitbucket &raquo;</a></p>
    </div>
</div>